#p{
    background-color: aquamarine;
    text-align: center;
}
#j{
    background-color: blue;
    text-align: center;
    color: #000000;
}
#o{
    background-color: brown;
    text-align: center;
}
.q{
    background-color: indianred;
    text-align: center;
}